@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Monoton&family=Pontano+Sans&display=swap');

body{
    background-color: black;
    color: #ffffff;
    text-align: justify;
}


.navbarbg{
    background-color: rgba(100, 0, 0, 0.5);
}
h1{
    font-family: Monoton, cursive;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 340%;
}
h2{
    font-family:Pontano Sans, sans-serif;
    text-align: center;
}
footer{   
    background-color: rgb(40, 40, 40);
    height: 30px;
}
h6{
    font-weight: normal;
}
.bg{
    background-image: url(../img/759556.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.m2033{
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px solid rgba(0, 0, 0, 0.32);
}
section:nth-child(2){
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-top: none;
    border-bottom: none;
    width: 95%;
}
nav{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border: 4px rgba(0, 0, 0, 0.6) solid;
    
    
}
/**header{
    position: sticky;
    top: 0px;
    margin-top: 0px;
}**/
.menu{
    color: rgba(255, 255, 255, 1);
}
.bold{
    font-weight: bold; /*<b> helyett*/
}
img{
    border: 5px solid rgba(100, 0, 0, 0.4); /*képkeret*/
}
li{
    list-style-image: url(../img/listsymbol3.png);
}
.nav-item{
    list-style-image: none; /*li debug navbaron*/
}
.szalag{
    background-color: rgba(90, 0, 0, 0.3);
}
.almenu:hover{
    background-color: rgba(100, 0, 0, 0.3);
    cursor: pointer;
}