@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Monoton&family=Pontano+Sans&display=swap');

@keyframes load{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes appear{
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.95);}
}
@keyframes op{
    from{opacity: 0;}
    to {opacity: 0.8;}
}

::-webkit-scrollbar{
    width: 12px;
    opacity: 1;
}
::-webkit-scrollbar-track{
    background-color: rgb(10, 10, 10);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(100, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(100, 0, 0, 0.45);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgba(100, 0, 0, 0.5);
}

body{
    background-color: black;
    color: #ffffff;
    text-align: justify;
}
.navbarbg{
    background-color: rgba(100, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(100, 0, 0, 0.4);
    animation-name: load;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    z-index: 1;
}
h1{
    font-family: Monoton, cursive;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 340%;
    text-shadow: 5px 5px 2px rgba(100, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}
h2{
    font-family:Pontano Sans, sans-serif;
    text-align: center;
}
p{
    text-indent: 15px;
}
p:first-of-type{
    text-indent: 0px;
}
footer{   
    background-color: rgba(40, 0, 0, 0.7);
    height: 30px;
    border-top: 4px solid rgba(40, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.55);
}
h6{
    font-weight: normal;
}
.bg{
    background-image: url(../img/759556.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.m2033{
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px solid rgba(0, 0, 0, 0.32);
    animation-name: load;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
nav{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border: 4px rgba(0, 0, 0, 0.6) solid;    
}

.navbar-toggler{
    border-radius: 0;
    border: 2px rgba(0, 0, 0, 0.8) solid!important;
    color: rgba(30, 0, 0, 0.5)!important;
}
.navbar-toggler:focus{
    border: 2px rgba(0, 0, 0, 0.5) solid!important;
    box-shadow: 0 0 0 0.25rem!important;
}

.menu{
    color: rgba(255, 255, 255, 1);
}
.bold{
    font-weight: bold;
}
img{
    border: 5px solid rgba(0, 0, 0, 1); /*képkeret*/
    box-shadow: 0px 0px 35px rgba(100, 0, 0, 0.5);
    animation-name: load;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    z-index: 1; /*animáció miatt ha gyorsan nyomnak a belépés gombra akkor a képek a popup ablak felett volak-e nélkül*/
}
li{
    list-style-image: url(../img/listsymbol3.png);
}
.nav-item{
    list-style-image: none; /*li debug navbaron*/
}
.szalag{
    background-color: rgba(90, 0, 0, 0.3);
}
.almenu:hover{
    background-color: rgba(100, 0, 0, 0.3)!important;
    cursor: pointer;
}
.almenu{
    border: rgba(0, 0, 0, 0.75) 2px solid;
    text-shadow: 2px 2px 1px rgba(30, 0, 0, 1);
}
#met33{
    background-color: rgba(100, 0, 0, 0.3);
}
/*Az rgba a leghasznosabb dolog.*/
#login{
    color: rgba(255, 255, 255, 0.85);
    border: 1px solid black;
    background-color: rgba(60, 0, 0, 0.5);
    box-shadow: 5px 5px 3px rgba(40, 0, 0, 1);
    border-top: 0;
    border-left: 0;
}
#login:hover{
    background-color: rgba(150, 0, 0, 0.3);
    cursor: pointer;
}
#login:active{
    box-shadow: -3px -3px 12px rgba(40, 0, 0, 1);
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    background-color: rgba(120, 0, 0, 0.3);
}

#welcome{
    background-color: rgba(0, 0, 0, 0.95);
    height: 30%;
    min-height: 400px;
    width: 30%;
    min-width: 400px;
    border: 4px solid rgba(100, 0, 0, 0.3);
    border-radius: 5%;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    z-index: 2;
}
input{
    background-color: rgba(100, 0, 0, 0.3);
    color: rgba(200, 200, 200, 0.8);
    box-shadow: -1px 1px 5px rgba(100, 0, 0, 0.9);
}
#welcommen{
    position: relative;
    top: 10%;
}
.bar{
    width: 90%;
    max-width: 200px;
    background-color: rgba(100, 0, 0, 0.2);
}
.barreg{
    width: 90%;
    max-width: 400px;
    background-color: rgba(100, 0, 0, 0.6);
}
#after{
    position: relative;
    top: 15%;
}
#icon{
    height: 50px;
    animation-name: load;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}
#icon:hover{
    cursor: default;
}
#registerhead{
    letter-spacing: 10px;
    font-size: 200%;
    font-style: italic;
}
#registerhead:hover{
    cursor: text;
}
.r_fot{
    position: absolute;
    bottom: 0;
    width: 100%;   
}
#wrong{
    color: rgba(200, 0, 0, 0.85);
    display: block;
}
.r_bg{
    background-image: url(../img/351856.jpg);
    background-size: cover;
}
.reghk{
    background-color: rgba(0, 0, 0, 0.78);
    border-radius: 4px;
    line-height: 140%;
}
#regbut{
    background-color: rgba(100, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.89);
}
th, td{
    width: 25%;
    border: 2px solid rgba(100, 0, 0, 0.7);
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
table{
    background-color: rgba(0, 0, 0, 0.6);
}
th{
    font-weight: normal;
    background-color: rgba(20, 0, 0, 0.6);
}
tr:nth-child(even){
    background-color: rgba(20, 0, 0, 0.6);
}
tr:hover{
    background-color: rgba(100, 0, 0, 0.4);
}
th{
    padding: 5px;
}
tr:last-child{
    font-size: 90%;
    line-height: 20px;
}
.op{
    opacity: 0.8;
    animation-name: op;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; 
}
.btn{
    text-decoration: none;
    background-color: rgba(130, 0, 0, 0.4)!important;
    line-height: 16px!important;
    border-radius: 0!important;
}
.btn:hover{
    color: rgb(255, 0, 0);
    background-color: rgba(200, 0, 0, 0.3)!important;
    text-shadow: -1px -1px 10px #000, 1px -1px 10px #000, -1px 1px 10px #000, 1px 1px 10px #000;
}
.welcomed{
    height: 200px!important;
    min-height: 200px!important;
}
/*IMPORTANT!!!!!!!!!!!!!!!!!!!!!!*/
#dmitry{
    width: 55%;
}
.sec{
    background-image: url(../img/351829.jpg);
    background-position: center;
    background-size: cover;
}
.m2{
    background-color: rgba(0, 0, 0, 0.8);
}
.thi{
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-size: cover;
}
.m3{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
}
.fpage{
    background-color: rgba(0, 0, 0, 0.3);
}